build/
bin/
Windows Installer/Debug/
Windows Installer/Release/
Windows Installer/.vs/

Windows Installer/*.msi
Windows Installer/*.wixobj
Windows Installer/*.wixpdb

build-bytecoin-gui*

*~
CMakeLists.txt.user*
*.pro.user*

# Mac specific
.DS_Store
