[Desktop Entry]
Encoding=UTF-8
Name=Bytecoin Wallet
Comment=Bytecoin wallet
Exec=bytecoinwallet %U
Terminal=false
Type=Application
Icon=bytecoin
MimeType=x-scheme-handler/bytecoin;
Categories=Office;Finance;
