<?xml version='1.0' encoding='utf-8'?>

<!--
Build example:
    candle -arch x64 -dVersion=3.4.2 -dProductVersion=19.3.8 -dDate='2019/03/07' -dVC_MERGE_MODULES_PATH="<your path x64>" Installer.wxs && light -ext WixUIExtension -out bytecoin-desktop-3.4.2-win64.msi Installer.wixobj
    or
    candle -arch x86 -dVersion=3.4.2 -dProductVersion=19.3.8 -dDate='2019/03/07' -dVC_MERGE_MODULES_PATH="<your path x86>" Installer.wxs && light -ext WixUIExtension -out bytecoin-desktop-3.4.2-win32.msi Installer.wixobj
-->

<!-- These values can be passed thru command line: -->
<!-- <?define Version='3.4.2' ?>   -->
<!-- <?define ProductVersion = '19.3.8' ?> -->
<!-- <?define Date = '2019/03/07' ?> -->

<?if $(sys.BUILDARCH) = x64 ?>
    <?define ProductName = 'Bytecoin' ?>
    <?define PlatformProgramFilesFolder = 'ProgramFiles64Folder' ?>
<?else ?>
    <?define ProductName = 'Bytecoin 32bit' ?>
    <?define PlatformProgramFilesFolder = 'ProgramFilesFolder' ?>
<?endif ?>

<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>

    <Product Name='$(var.ProductName) $(var.Version)' Manufacturer='Bytecoin Developers'
        Id='*' UpgradeCode='DC5C7D60-BB08-4B97-B634-E87679CCEB3C'
        Language='1033' Codepage='1252' Version='$(var.ProductVersion)'>

        <Package Id='*' Keywords='Installer' Description='$(var.ProductName) $(var.Version) Installer'
            Comments='Release version of bytecoin from $(var.Date)' Manufacturer='Bytecoin Developers'
            InstallerVersion='301' Languages='1033' Compressed='yes' SummaryCodepage='1252' InstallScope='perMachine'/>

        <MajorUpgrade DowngradeErrorMessage='A newer version of $(var.ProductName) is already installed.' />

        <Media Id='1' Cabinet='Bytecoin.cab' EmbedCab='yes' />
        <Property Id='DiskPrompt' Value='$(var.ProductName) $(var.Version) Installation [1]' />

        <Directory Id='TARGETDIR' Name='SourceDir'>

            <Merge Id="VCRedist" SourceFile="$(var.VC_MERGE_MODULES_PATH)"  DiskId="1" Language="0"/>

            <Directory Id='$(var.PlatformProgramFilesFolder)' Name='PFiles'>
                <Directory Id='INSTALLDIR' Name='Bytecoin'>
                    <Directory Id='BearerDir' Name='bearer' />
                    <Directory Id='IconenginesDir' Name='iconengines' />
                    <Directory Id='ImageFormatsDir' Name='imageformats' />
                    <Directory Id='PlatformsDir' Name='platforms' />
                    <Directory Id='StylesDir' Name='styles' />
                    <Directory Id='TranslationsDir' Name='translations' />
                </Directory>
            </Directory>

            <Directory Id='AppDataFolder' Name='AppData'>
                <Directory Id='AppDataDir' Name='bytecoin' />
            </Directory>

            <Directory Id='ProgramMenuFolder' Name='Programs'>
                <Directory Id='StartMenuDir' Name='Bytecoin' />
            </Directory>

        </Directory>

        <Feature Id='MainApplication' Title='Main Application' Level='1' ConfigurableDirectory='INSTALLDIR'>
            <ComponentGroupRef Id='BearerDirCompGr' />
            <ComponentGroupRef Id='IconenginesDirCompGr' />
            <ComponentGroupRef Id='ImageFormatsDirCompGr' />
            <ComponentGroupRef Id='PlatformsDirCompGr' />
            <ComponentGroupRef Id='StylesDirCompGr' />
            <ComponentGroupRef Id='TranslationsDirCompGr' />
            <ComponentGroupRef Id='MainExecutableCompGr' />

            <ComponentRef Id='AppStartMenuShortcutComp' />
            <ComponentRef Id='AppDataStartMenuShortcutComp' />

            <MergeRef Id="VCRedist"/>
        </Feature>

        <Icon Id='bytecoin.ico' SourceFile='..\src\images\bytecoin.ico' />

        <Property Id='ARPCONTACT' Value='Bytecoin Developers' />
        <Property Id='ARPCOMMENTS' Value='Release version of $(var.ProductName) $(var.Version) from $(var.Date)' />
        <Property Id='ARPPRODUCTICON' Value='bytecoin.ico' />
        <Property Id='ARPURLINFOABOUT' Value='https://bytecoin.org' />

        <UI Id='UserInterface'>
            <Property Id='WIXUI_INSTALLDIR' Value='INSTALLDIR' />
            <UIRef Id='WixUI_InstallDir' />
            <UIRef Id='WixUI_ErrorProgressText' />
            <Publish Dialog='WelcomeDlg' Control='Next' Event='NewDialog' Value='InstallDirDlg' Order='2'>1</Publish>
            <Publish Dialog='InstallDirDlg' Control='Back' Event='NewDialog' Value='WelcomeDlg' Order='2'>1</Publish>
        </UI>

    </Product>

    <Fragment>
        <ComponentGroup Id='BearerDirCompGr' Directory='BearerDir'>
            <Component Id='QgenericbearerDllComp' Guid='*'>
                <File Id='QgenericbearerDll' Source='..\bin\bearer\qgenericbearer.dll' />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id='IconenginesDirCompGr' Directory='IconenginesDir'>
            <Component Id='QsvgiconDllComp' Guid='*'>
                <File Id='QsvgiconDll' Source='..\bin\iconengines\qsvgicon.dll' />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id='ImageFormatsDirCompGr' Directory='ImageFormatsDir'>
            <Component Id='QgifDllComp' Guid='*'>
                <File Id='QgifDll' Source='..\bin\imageformats\qgif.dll' KeyPath='yes' />
            </Component>
            <Component Id='QicnsDllComp' Guid='*'>
                <File Id='QicnsDll' Source='..\bin\imageformats\qicns.dll' KeyPath='yes' />
            </Component>
            <Component Id='QicoDllComp' Guid='*'>
                <File Id='QicoDll' Source='..\bin\imageformats\qico.dll' KeyPath='yes' />
            </Component>
            <Component Id='QjpegDllComp' Guid='*'>
                <File Id='QjpegDll' Source='..\bin\imageformats\qjpeg.dll' KeyPath='yes' />
            </Component>
            <Component Id='QsvgDllComp' Guid='*'>
                <File Id='QsvgDll' Source='..\bin\imageformats\qsvg.dll' KeyPath='yes' />
            </Component>
            <Component Id='QtgaDllComp' Guid='*'>
                <File Id='QtgaDll' Source='..\bin\imageformats\qtga.dll' KeyPath='yes' />
            </Component>
            <Component Id='QtiffDllComp' Guid='*'>
                <File Id='QtiffDll' Source='..\bin\imageformats\qtiff.dll' KeyPath='yes' />
            </Component>
            <Component Id='QwbmpDllComp' Guid='*'>
                <File Id='QwbmpDll' Source='..\bin\imageformats\qwbmp.dll' KeyPath='yes' />
            </Component>
            <Component Id='QwebpDllComp' Guid='*'>
                <File Id='QwebpDll' Source='..\bin\imageformats\qwebp.dll' KeyPath='yes' />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id='PlatformsDirCompGr' Directory='PlatformsDir'>
            <Component Id='QwindowsDllComp' Guid='*'>
                <File Id='QwindowsDll' Source='..\bin\platforms\qwindows.dll' KeyPath='yes' />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id='StylesDirCompGr' Directory='StylesDir'>
            <Component Id='QwindowsvistastyleDllComp' Guid='*'>
                <File Id='QwindowsvistastyleDll' Source='..\bin\styles\qwindowsvistastyle.dll' KeyPath='yes' />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id='TranslationsDirCompGr' Directory='TranslationsDir'>
            <Component Id='QtBgQmComp' Guid='*'>
                <File Id='TranslationQtBg' Source='..\bin\translations\qt_bg.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtCaQmComp' Guid='*'>
                <File Id='TranslationQtCa' Source='..\bin\translations\qt_ca.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtCsQmComp' Guid='*'>
                <File Id='TranslationQtCs' Source='..\bin\translations\qt_cs.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtDaQmComp' Guid='*'>
                <File Id='TranslationQtDa' Source='..\bin\translations\qt_da.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtDeQmComp' Guid='*'>
                <File Id='TranslationQtDe' Source='..\bin\translations\qt_de.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtEnQmComp' Guid='*'>
                <File Id='TranslationQtEn' Source='..\bin\translations\qt_en.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtEsQmComp' Guid='*'>
                <File Id='TranslationQtEs' Source='..\bin\translations\qt_es.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtFiQmComp' Guid='*'>
                <File Id='TranslationQtFi' Source='..\bin\translations\qt_fi.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtFrQmComp' Guid='*'>
                <File Id='TranslationQtFr' Source='..\bin\translations\qt_fr.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtGdQmComp' Guid='*'>
                <File Id='TranslationQtGd' Source='..\bin\translations\qt_gd.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtHeQmComp' Guid='*'>
                <File Id='TranslationQtHe' Source='..\bin\translations\qt_he.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtHuQmComp' Guid='*'>
                <File Id='TranslationQtHu' Source='..\bin\translations\qt_hu.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtItQmComp' Guid='*'>
                <File Id='TranslationQtIt' Source='..\bin\translations\qt_it.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtJaQmComp' Guid='*'>
                <File Id='TranslationQtJa' Source='..\bin\translations\qt_ja.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtKoQmComp' Guid='*'>
                <File Id='TranslationQtKo' Source='..\bin\translations\qt_ko.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtLvQmComp' Guid='*'>
                <File Id='TranslationQtLv' Source='..\bin\translations\qt_lv.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtPlQmComp' Guid='*'>
                <File Id='TranslationQtPl' Source='..\bin\translations\qt_pl.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtRuQmComp' Guid='*'>
                <File Id='TranslationQtRu' Source='..\bin\translations\qt_ru.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtSkQmComp' Guid='*'>
                <File Id='TranslationQtSk' Source='..\bin\translations\qt_sk.qm' KeyPath='yes' />
            </Component>
            <Component Id='QtUkQmComp' Guid='*'>
                <File Id='TranslationQtUk' Source='..\bin\translations\qt_uk.qm' KeyPath='yes' />
            </Component>
        </ComponentGroup>

        <ComponentGroup Id='MainExecutableCompGr' Directory='INSTALLDIR'>
            <Component Id='BytecoinIcoComp' Guid='*'>
                <File Id='BytecoinIco' Source='..\src\images\bytecoin.ico' KeyPath='yes' />
            </Component>
            <Component Id='BytecoindExeComp' Guid='*'>
                <File Id='BytecoindExe' Source='..\bin\bytecoind.exe' KeyPath='yes' />
            </Component>
            <Component Id='BytecoindPdbComp' Guid='*'>
                <File Id='BytecoindPdb' Source='..\bin\bytecoind.pdb' KeyPath='yes' />
            </Component>
            <Component Id='BytecoinGuiExeComp' Guid='*'>
                <File Id='BytecoinGuiExe' Source='..\bin\bytecoin-gui.exe' KeyPath='yes' />
            </Component>
            <Component Id='D3Dcompiler47DllComp' Guid='*'>
                <File Id='D3Dcompiler47Dll' Source='..\bin\D3Dcompiler_47.dll' KeyPath='yes' />
            </Component>
            <Component Id='LibEGLDllComp' Guid='*'>
                <File Id='LibEGLDll' Source='..\bin\libEGL.dll' KeyPath='yes' />
            </Component>
            <Component Id='LibGLESV2DllComp' Guid='*'>
                <File Id='LibGLESV2Dll' Source='..\bin\libGLESV2.dll' KeyPath='yes' />
            </Component>
            <Component Id='Opengl32swDllComp' Guid='*'>
                <File Id='Opengl32swDll' Source='..\bin\opengl32sw.dll' KeyPath='yes' />
            </Component>
            <Component Id='Qt5CoreDllComp' Guid='*'>
                <File Id='Qt5CoreDll' Source='..\bin\Qt5Core.dll' KeyPath='yes' />
            </Component>
            <Component Id='Qt5GuiDllComp' Guid='*'>
                <File Id='Qt5GuiDll' Source='..\bin\Qt5Gui.dll' KeyPath='yes' />
            </Component>
            <Component Id='Qt5NetworkDllComp' Guid='*'>
                <File Id='Qt5NetworkDll' Source='..\bin\Qt5Network.dll' KeyPath='yes' />
            </Component>
            <Component Id='Qt5SvgDllComp' Guid='*'>
                <File Id='Qt5SvgDll' Source='..\bin\Qt5Svg.dll' KeyPath='yes' />
            </Component>
            <Component Id='Qt5WidgetsDllComp' Guid='*'>
                <File Id='Qt5WidgetsDll' Source='..\bin\Qt5Widgets.dll' KeyPath='yes' />
            </Component>
            <Component Id='WalletdExeComp' Guid='*'>
                <File Id='WalletdExe' Source='..\bin\walletd.exe' KeyPath='yes' />
            </Component>
            <Component Id='WalletdPdbComp' Guid='*'>
                <File Id='WalletdPdb' Source='..\bin\walletd.pdb' KeyPath='yes' />
            </Component>
        </ComponentGroup>

        <DirectoryRef Id='AppDataDir'>
            <Component Id='AppDataStartMenuShortcutComp' Guid='*'>
                <CreateFolder />
                <Shortcut Id='AppDataStartMenuShortcut' Directory='StartMenuDir' Name='Data Folder' />
                <RemoveFolder Id='RemoveAppDataDir' Directory='AppDataDir' On='uninstall' />
                <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\$(var.ProductName)' Name='AppDataShortcutInstalled' Type='integer' Value='1' KeyPath='yes' />
            </Component>
        </DirectoryRef>

        <DirectoryRef Id='StartMenuDir'>
            <Component Id='AppStartMenuShortcutComp' Guid='*'>
                <Shortcut Id='AppStartMenuShortcut' Name='Wallet (GUI)' Target='[!BytecoinGuiExe]' WorkingDirectory='INSTALLDIR' />
                <RemoveFolder Id='RemoveStartMenuDir' On='uninstall' />
                <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\$(var.ProductName)' Name='AppMenuShortcutInstalled' Type='integer' Value='1' KeyPath='yes' />
            </Component>
        </DirectoryRef>
    </Fragment>

</Wix>
